html {
  font-family: 'Helevetica', sans-serif;
}

body {
  color: #333;
  font-weight: 100;
  max-width: 7.06cm;
  max-height: 8.62cm;
  overflow: hidden;
  margin: 0 auto;
}

div:focus {
  outline: none;
}

#heading {
  font-size: 16pt;
  padding-top: 1.2cm;
}

#content {
  padding-top: 1.27cm;
  font-size: 13pt;
}
